<% include ../partials/header %>
<div class="container">
	<div class="row">

	<h1 style="text-align: center;">Edit <%= tool.name %></h1>
	<div style="width: 30%; margin: 25px auto;">
	<form action="/tools/<%= tool._id%>?_method=PUT" method="POST">
		<div class="form-group">
			<input class = "form-control" type = "text" name= "tool[name]" value="<%=tool.name %>">
		</div>
		<div class="form-group">
			<input class = "form-control" type = "text" name= "tool[url]" value="<%=tool.url %>">
		</div>
		<div class="form-group">
			<input class="form-control" type="text" name="tool[description]" value="<%=tool.description%>">
		</div>
		<div class="form-group">
			<input class = "form-control" type = "text" name= "tool[version]" value="<%=tool.version%>">
		</div>
		<div class="form-group">
			<input class = "form-control" type = "text" name= "tool[input]" 
			value="<%=tool.input%>">
		</div>
		<div class="form-group">
			<input class = "form-control" type = "text" name= "tool[output]" 
			value="<%=tool.output%>">
		</div>
		<div class="form-group">
			<input class = "form-control" type = "text" name= "tool[opSystem]" value="<%=tool.opSystem%>">
		</div>
		<div class="form-group">
			<input class = "form-control" type = "text" name= "tool[language]" value="<%=tool.language%>">
		</div>
		<div class="form-group">
			<input class = "form-control" type = "text" name= "tool[license]" value="<%=tool.license%>">
		</div>
		<div class="form-group">
			<input class = "form-control" type = "text" name= "tool[researchArticle]" value="<%=tool.researchArticle%>">
		</div>
		<hr>
		<div class="text-center">
		<label class ="checkbox-inline"><input type="checkbox" name = "software" value="Software">Software</label>
		<label class ="checkbox-inline"><input type="checkbox" name = "database" value="Database">Database</label>
		</div>
		<hr>
		<div class="form-group">
			<button class="btn btn-lg btn-primary btn-block"> Submit</button>
		</div>
	</form>
		<a href="/tools">Go Back</a>
	</div>
	</div>
</div>
<% include ../partials/footer %>