<% include ../partials/header %>
<div class="container">
	<div class="row">
	
		<div class="col-md-9">
			<div class="well">
			<h1><a><%=tool.name%></a></h1>
			<hr>
			<h4><u>Description</u></h4>
			<p><%= tool.description%></p>
			<h4><u>Repository URL</u></h4>
			<p><%= tool.url %></p>
			<h4><u>Version</u></h4>
			<p><%= tool.version %></p>
			<h4><u>Input Data Type</u></h4>
			<p><%= tool.input %></p>
			<h4><u>Output Data Type</u></h4>
			<p><%= tool.output %></p>
			<h4><u>License</u></h4>
			<p><%= tool.license %></p>
			<h4><u>What Type of Tool Is It?</u></h4>
			<p><%= tool.software %></p>

			<p>
			<em>Submitted By <%= tool.author.username %></em>
			</p>
			
				<button class="btn btn-success" style="font-size:18px" name="tool">Like <i class="fa fa-thumbs-o-up"></i></button>
	

			<% if(currentUser && tool.author.id.equals(currentUser._id)){%> 
			<a class="btn btn-warning" href="/tools/<%= tool._id%>/edit">Edit</a>
			<form id="delete-form" action="/tools/<%= tool._id %>?_method=DELETE" method="POST">
				<button class="btn btn-danger">Delete</button>
			</form>
			<% }%>
			</div>
			<hr>
			<div class="well">
				<div class="text-right">
					<a class="btn btn-success" href="/tools/<%= tool._id%>/comments/new">Add New Comment</a>
				</div>
				<hr>
				<% tool.comments.forEach(function(comment){ %>
					<div class="row">
						<div class="col-md-12">
							<strong><%= comment.author.username %></strong>
							<span class="pull-right">10 days ago</span>
							<p>
								<%= comment.text %>
							</p>
						<% if(currentUser && comment.author.id.equals(currentUser._id)){%> 
							<a class="btn btn-xs btn-warning" href="/tools/<%=tool._id%>/comments/<%=comment._id%>/edit">
							Edit
						</a>
						<form id = "delete-form" action="/tools/<%=tool._id%>/comments/<%=comment._id%>?_method=DELETE" method="POST">
							<input type="submit" class="btn btn-xs btn-danger" value="Delete">
						</form>
						<% }%>
						</div>
					</div>
				<% }) %>
			</div>
		</div>
	</div>
</div>


<% include ../partials/footer %>